/*global styling*/

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

h1, h2, h4, h5, p, a, small{
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 900;
	font-size: 350%;
}

h2 {
	font-weight: 800;
	font-size: 300%;
}

h4 {
	font-weight: 700;	
}

/*end global styling*/

/*navbar styling*/

nav {
	background-color: white;
}

.nav-link {
	font-weight: 700;
	font-size: 120%;
}

.img-avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/*end navbar styling*/

/*form styling*/

.form-control {
	border-radius: 10px;
	height: 60px;
}

.form-group {
	font-family: 'Montserrat', sans-serif;	
	font-weight: 600;
}

.btn {
	font-family: 'Montserrat', sans-serif;	
	border-radius: 10px;
}

/*end form styling*/

/*footer styling*/

footer {
	background-color: #d2cefa;
	width: 100%;
	margin-top: auto;
}

.link-title, .link-social {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

/*end footer styling*/

/*card styling*/

.card {
	border-radius: 10px;
}

.card-title {
	font-size: 180%;
	font-weight: 600;
}

.card-text {
	font-size: 120%;
}

.status-text {
	color: white;
}

/*end card styling*/

/*custom scrollbar*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: lightgrey;
	border-radius: 5px;
}

/*end custom scrollbar*/


/*tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*end tooltip*/