{% extends 'request/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  	<div class="container">
      <div class="row mb-5 p-3">
        <div class="col-sm my-auto justify-content-center">
        	<div class="row">
        		<div class="col-sm mb-3">
        			<h2>New Application</h2>
        		</div>
        	</div>
			<form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
			    <button class="btn btn-primary mt-3" type="submit">Apply For Funding</button>
			</form>
        </div>
      </div>
    </div>
{% endblock %}

